.card.card-add {
  background: #fdc415;
}

.add-card-inner {
  display: flex;
  align-items: center;
  color: #63636d;
}
.card.card-add {
  background: #d2d4d6;
  display: flex;
  align-items: center;
  justify-content: center;
}
