.template {
  width: 72%;
  position: relative;
  color: #f2f2f2;
  overflow: hidden;
  margin-top: 15px;
  padding-bottom: 20px;
}
.rotate-cover {
  transform-style: preserve-3d;
  perspective: 1000px;
  height: 100%;
}
.template svg {
  max-height: 100%;
  max-width: 100%;
}
.card-top {
  display: flex;
}
.card-right-container {
  flex: 1 1 auto;
  width: 70%;
  left: 0;
  position: absolute;
}
.card-amount-cover {
  font-size: 28px;
  left: 20px;
  padding: 0 20px;
  font-family: "bw-mitga-bold";
}
.card-option {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #ffce37;
  border-radius: 20px;
  margin: 0 5px;
}
.card-actions {
  bottom: -23px;
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  z-index: -1;
  left: 70%;
}
.card-actions .action {
  padding: 5px;
}
.card {
  transform: scale(0.8);
  opacity: 0.5;
}
.card {
  background: #161517;
  height: 100%;
  position: relative;
  border-radius: 20px;
  transform-origin: center;
}
.card-back-wrap {
  width: 100%;
  /* height: 100%; */
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.shadow {
  width: 80%;
  height: 80%;
  bottom: 0;
  z-index: -1;
  position: absolute;
  left: 10%;
}
.card-name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-number {
  font-size: 12pt;
  font-weight: 400;
  letter-spacing: 1px;
}
.add-card-cover {
  border-radius: 10px;
  background: #fff;
  /* padding: 10px; */
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
