.transaction-list .list-item {
  display: flex;
  margin: 0px;
  position: relative;
  overflow: hidden;
  border-radius: 0px;
  transition: background 0.5s;
}
.collapse-inner-conatiner {
  background: #fff;
  font-size: 10pt;
  color: #808084;
}
.transaction-list {
  display: flex;
  flex: 1 100%;
  flex-direction: column;
}
.transaction-list-cover {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.swipable-page-inner {
  flex: 1 auto;
  display: flex;
}
.active-item-money.action-sheet-cover {
  background: #1f1f20;
  border-color: #202020;
  color: #ffc002;
}
.disabled.action-sheet-cover {
  opacity: 0.3;
}
.swipable-page-main-cover {
  background: #f6f6f7;
  padding: 0px;
  border-radius: 40px 40px 0 0;
  min-height: 100%;
}
.swipable-page-main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.tab-cover {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  width: 100%;
  min-height: none;
}
.tab-content-cover {
  flex: 1 auto;
  position: relative;
}
.absolute-flex {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
span.amount {
  font-size: 32px;
}
.card-list-cover {
  flex: 0 auto;
  overflow: hidden;
  position: relative;
}
.list-right-side {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.amount-cover-text {
  font-weight: 100;
}
.amount-cover-text {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.card-top-cover {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.card-top-cover span.amount {
  font-size: 40px;
}
.card-amount-cover .action {
  padding: 15px 25px;
  border-radius: 15px;
  position: relative;
  font-size: 10px;
  font-weight: 700;
  /* border: 1pt solid; */
  background: #fff;
  display: flex;
  justify-content: center;
}
.card-num-bg {
  position: absolute;
  font-size: 90vw;
  top: -20px;
  font-family: "bw-mitga-black";
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  opacity: 0.1;
  left: -12%;
  margin-top: 0px;
}

.tab-list-cover .tab-item.tab-active {
  opacity: 1;
}
.card-list-cover .tab-list-cover.standart-tab-list {
  pointer-events: none;
  display: none;
}
.tab-list-cover .tab-item {
  opacity: 0.5;
  font-weight: 400;
}
.title {
  font-weight: 600;
}

.card-amount-cover .action:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  bottom: 0px;
  background: transparent;
  transition: all 0.25s ease-out;
  left: 0%;
  border-radius: 15px;
  box-shadow: 0px 10px 10px #00000033;
}
.action {
  display: flex;
  align-items: center;
}
.amount {
  display: flex;
  flex-direction: column;
}
.card-amount-cover small {
  font-size: 10px;
  font-weight: 800;
  text-align: left;
  padding: 0 2px;
}
span.price-icon {
  font-size: 18px;
  position: relative;
  left: 5px;
}
.cards {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.card-amount-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid;
}
.amount-cover {
  display: flex;
}
.icon-tab-list {
  position: relative;
  z-index: 9;
}
.list-item-transactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.transaction-list-cover .list-item h3 {
  font-size: 12pt;
  margin-bottom: 5px;
  color: #57565f;
}
.transaction-list-cover .list-item small {
  font-size: 12px;
  font-weight: 500;
}
.list-right-side div:after {
  content: "₺";
  margin-left: 5px;
}
.transaction-list-cover .tab-item-cover {
  padding: 10px 0;
}
.options.drop-down {
  position: absolute;
  background: #fff;
  z-index: 9999;
  border-radius: 20px;
  font-size: 10pt;
  height: 0;
  overflow: hidden;
}
.selected .checkbox {
  border-color: #171618;
  background: #171618;
}
.checkbox {
  content: "";

  border-radius: 100%;
}
.sort-actions .form-block {
  margin: 0;
}
.add-card {
  width: 72%;
  left: 14%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  margin-bottom: 10px;
  margin-top: -10px;
  bottom: 0;
}
.add-card-action {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 5px 10px;
  /* background: #ffd75c; */
  border-radius: 20px;
  font-size: 7pt;
  font-family: "bw-mitga-bold";
  color: #54420a;
  /* border: 1px solid; */
}
span.active-card-num:after {
  content: "/";
  margin-right: 5px;
  margin-left: 5px;
}
span.active-card-num {
  font-family: "bw-mitga-bold";
}
.cards-count {
  font-size: 0.8rem;
}
.pull-options {
  width: 100%;
  bottom: 0;
  z-index: -1;
  height: 100%;
  display: flex;
  align-items: center;
  /* transform: translate3d(0px, 0px, 3px); */
}
span.add-card-action-label {
  margin-left: 5px;
}
.selection {
  position: relative;
  padding: 5px;
  border: transparent;
  display: flex;
  background: transparent;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 20px;
}
.collapse-inner-conatiner {
  height: 180px;
  overflow: hidden;
  position: relative;
  display: block;
  padding: 0px 20px;
  box-shadow: rgba(119, 118, 130, 0.38) 0px 0px 5px 0px;
}
.list-item.opened {
  background: #ffffff;
}
.list-thumb-cover.withbg:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 1px;
  background: #ffc101;
}

.swipable-list .tab-list-cover.standart-tab-list {
  border-bottom: 1px solid #e3e3e6;
}
.pull-icon {
  width: 30pt;
  height: 3pt;
  background: #333;
  opacity: 0.3;
  bottom: -10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}
.pull-options-inner {
  /* display: flex; */
  width: 100%;
}
.card-options {
  display: flex;
  justify-content: center;
}
.overlay {
  background: #333;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
}
.dialog-content {
  padding: 20px;
  background: #fff;
  z-index: 99;
  border-radius: 20px;
  font-size: 10pt;
  text-align: center;
}
.card-opt-dialog-actions {
  display: flex;
  margin-top: 20px;
}
.bordered.radius.button.filled.button-container.btn-block.center.btn-icon-right {
  padding: 10px;
  margin: 0;
}
.bordered.grey.radius.button.filled .btn {
  background: #eaeaea;
  color: #888383;
}
.dot.dot {
  position: absolute;
  right: 10px;
  top: 20px;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  z-index: 999;
}
.dot.dot span {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #a9a2a2;
  border-radius: 5px;
  opacity: 0.6;
  margin-top: 8px;
  transition: all 0.25s ease-out;
}

.dot.dot span:after,
.dot.dot span:before {
  content: "";
  position: relative;
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 5px;
  transition: all 0.25s ease-out;
  background: #a9a2a2;
}
.dot.dot span:before {
  margin-bottom: 11px;
  margin-top: -8px;
}

.optionsopened .dot.dot span:after,
.optionsopened .dot.dot span:before {
  content: "";
  position: relative;
  width: 25px;
  height: 4px;
  display: block;
  border-radius: 5px;
  background: #ffffff;
  transform: rotate(45deg) translate(-12px, 2px);
}
.optionsopened .dot.dot span:before {
  margin-bottom: 11px;
  margin-top: -8px;
  transform: rotate(-45deg) translate(-13px, -2px);
}
