.card.card-add {
  background: #fdc415;
}
.card.card-add {
  background: #fdc415;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-card-inner {
  display: flex;
  align-items: center;
  color: #000;
}
