.grid.grid-12 {
  grid-template-columns: repeat(12, 1fr);
}
.grid.grid-11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid.grid-10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid.grid-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid.grid-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}
