.actionsheet {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.actionsheet .actionsheet-main-cover {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 40px;
}
.actionsheet .actionsheet-main-cover {
  transform: translate(0, 100%);
  bottom: 0;
  will-change: transform;
  position: absolute;
}
.actionsheet-main-cover {
  background: #f6f6f7;
  padding: 20px;
}
.action-sheet-main-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.actionsheet-horizontalButtons .action-sheet-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  position: relative;
  border-radius: 10px;
  border: 1px solid #97979c;
  padding: 20px;
  color: #66666f;
}
.touch-icons:before {
  content: "";
  position: absolute;
  top: 0px;
  width: 20px;
  transition: all 0.3s;
  right: 50%;
  transform: translate(-50%, 0px);
  height: 3pt;
  margin-right: -12px;
  border-radius: 4px;
  background: #ccc8c8;
}
.dragging .touch-icons:after {
  transform: rotate(-35deg);
  margin-left: -5px;
}
.dragging .touch-icons:before {
  transform: rotate(35deg);
  margin-right: 0px;
}
.touch-icons {
  position: relative;
  width: 100%;
}
.actionsheet-verticalButtons .button-actionsheet i {
  margin-right: 20px;
  position: absolute;
  right: 0;
}
.actionsheet-verticalButtons .button-actionsheet {
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 0.8rem;
  display: flex;
}
.actionsheet-verticalButtons .action-sheet-cover {
  margin: -4px -20px;
}
.actionsheet-actions-cover p {
  font-size: 1.2rem;
  font-weight: 200;
}
.touch-icons:after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  top: 0px;
  width: 20px;
  left: 50%;
  transform: translate(-50%, 0px);
  height: 3pt;
  margin-left: 8px;
  border-radius: 4px;
  background: #ccc8c8;
}
.actionsheet .title {
  font-weight: 400;
  padding: 20px 0;
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
  padding-top: 0;
  font-size: 1rem;
  text-align: center;
  margin-top: 1.2rem;
}
.button-actionsheet-block {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f1;
  color: #a0a0a5;
  margin: -20px;
  margin-top: 20px;
}
.actionsheet .overlay {
  background-color: #333;
  opacity: 0;
  transition: opacity 300ms;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.actionsheet .overlay {
  background-color: #333;
  opacity: 0;
  transition: opacity 300ms;
}
.actionsheet .slide-enter .overlay {
  opacity: 0;
}
.action-sheet-main-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.actionsheet .slide-enter-active .overlay,
.actionsheet .slide-enter-done .overlay {
  opacity: 0.3;
}

.actionsheet .slide-enter-active .actionsheet-main-cover,
.actionsheet .slide-enter-done .actionsheet-main-cover {
  transform: translate(0, 0%);
}
.actionsheet .slide-exit-active .actionsheet-main-cover,
.actionsheet .slide-exit-done .actionsheet-main-cover {
  transform: translate(0, 100%);
}
.horizontal-actionsheet .actionsheet-actions-cover {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.kb-grid-box.equal .action-sheet-cover:before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
}
.actionsheet a.btn-normal.button.btn {
  padding: 0;
}
