#cardfront .st4 {
  font-size: 54.7817px;
}
#cardfront .st3 {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  fill: #f2f2f2;
}
#cardfront .st6 {
  font-size: 33.1112px;
}
#cardfront .st5 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}
#cardfront .st2 {
  fill: #f2f2f2;
}
text.st2.st10.st11.amount {
  font-size: 64px;
  /* transform: translate(-100%, 0px); */
}
