.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
* {
  box-sizing: border-box;
}
h2.big-title {
  font-size: 24pt;
  margin: 0;
}

.green-text {
  color: #007154;
}
.background {
  background: #f3f5f8;
}
.login-container {
  padding: 40px;
  background: #fff;
  width: 100%;
}
.logo-container {
  padding: 40px;
}
.request-box {
  width: 280px;
  height: 200px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #33333336;
  background: #fff;
  padding: 20px;
  transition: all 0.25s ease-out;
  transform: translate(0, 120%);
  flex-direction: column;
}
.opened.request-box {
  transition: all 0.25s ease-out;
  transform: translate(0, 0%);
}
.full-row {
  margin: 0 -20px;
}
